.carousel-inner {
	p {
		font-size: 1.2rem;
		color: map-get($map: $paleta, $key: 'darkColor');
		font-family: $fontCarousel;
		@media (min-width: 576px) {
			font-size: 1.8rem;
		}
		@media (min-width: 768px) {
			font-size: 2.5rem;
		}
		@media (min-width: 992px) {
			font-size: 3rem;
		}
	}

}

.bg-blancoLight {
	background-color: map-get($map: $paleta, $key: 'lightColor');
}