.carousel-inner {
	p {
		font-size: 2rem;
		color: $darkColor;
		font-family: $fontCarousel;	
		@media (min-width: 992px) {
			font-size: 3rem;
		}
	}

}

.bg-blancoLight {
	background-color: $lightColor;
}