//Paleta de colores

/*$mainColor: rgba(247, 179, 207, 0.7);
$secondaryColor: #F2EADF;
$melonColor: #FAE4C5;
$pinkColor: #F84D8C;
$lightColor: rgba(255, 255, 255, 0.7);
$brownColor: #8C5C5C;
$darkColor: #000000;
$btnSubmit: rgb(247, 179, 207);
$btnReset: #BB779A;
$claro: #FFFFFF;
$footerColor: rgba(247, 179, 207, 0.3);*/

$paleta: (
	'mainColor': rgba(247, 179, 207, 0.7),
	'secondaryColor': #F2EADF,
	'melonColor': #FAE4C5,
	'pinkColor': #F84D8C,
	'lightColor': rgba(255, 255, 255, 0.7),
	'brownColor': #8C5C5C,
	'darkColor': #000000,
	'btnSubmit': rgb(247, 179, 207),
	'btnReset': #BB779A,
	'claro': #FFFFFF,
	'footerColor': rgba(247, 179, 207, 0.3),
);


* {
	font-family: $fontMain;
}

html {
	font-size: 62.5%;
}

body {
	background-color: map-get($map: $paleta, $key: 'secondaryColor');
}

p {
	font-size: 1.7rem;
}

