.border-melon {
	border: solid 4px map-get($map: $paleta, $key: 'melonColor');
}

.datos {
	p {
		line-height: 1.5rem;
		@media (min-width: 992px) {
			font-size: 1.5rem;
		}
	}
}



.linear-gradient1 {
	background: rgb(232,246,187);
	background: linear-gradient(90deg, rgba(232,246,187,0.9200630935968137) 0%, rgba(165,229,238,0.2505953064819678) 50%, rgba(241,219,247,1) 100%);
}

.linear-gradient2 {
	background: rgb(232,246,187);
	background: linear-gradient(90deg, rgba(241,219,247,1) 0%, rgba(165,229,238,0.2505953064819678) 48%, rgba(232,246,187,0.9200630935968137) 100%);
}

.rotate:hover {
	transform: rotateX(45deg);
}