@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Concert+One&family=Lato:wght@300;400;700&family=Permanent+Marker&display=swap');

$fontMain: 'Lato', sans-serif;
$fontSecondary: 'Concert One', cursive;
$fontBotonera: 'Permanent Marker', cursive;
$fontCarousel: 'Cantarell', sans-serif;