.adicional {
	margin-top: 8rem;

	.adicional__datos {
		font-size: 1.5rem;
		margin-top: 1rem;

		div {
			text-align: center;

			i {
				margin-bottom: 2rem;
			}
		}
	}
}


iframe {
	@media (max-width: 576px) {
		width: 100%;
	}
}

@media (max-width:  992px) {
	/*.adicional__mapa {
		width: 60%;

		iframe {
			width: 100%;
		}
	}*/
}