.noticias {
	h2 {
		background-color: map-get($map: $paleta, $key: 'melonColor');
	}
	p {
		text-align: justify;
	}
	p, img{
		width: 80%;
		@media (min-width: 992px) {
			width: 90%;
		}
	}

}

.scale2:hover {
	transform: scaleX(1.05);
	transition: transform 2s;
}