@mixin titulo($font-size, $color, $font-weight) {
	font-size: $font-size;
	color: $color;
	font-weight: $font-weight;
}

h1 {
	@include titulo(2rem,map-get($map: $paleta, $key: 'brownColor'),bold);
	font-family: $fontSecondary;
	text-transform: uppercase;
	letter-spacing: 6px;

	@media (min-width: 576px) {
		font-size: 3.5rem;
	}

	@media (min-width: 768px) {
		font-size: 4rem;
	}

	@media (min-width: 992px) {
		font-size: 6rem;
		letter-spacing: 10px;
	}
}

h2 {
	@include titulo(2.5rem,map-get($map: $paleta, $key: 'brownColor'),bold);

	@media (min-width: 992px) {
		font-size: 3rem;
	}
}

h3 {
	@include titulo(2.2rem,map-get($map: $paleta, $key: 'brownColor'),bold);
	margin: 20px 0;

	@media (min-width: 992px) {
		font-size: 2.5rem;
	}
}

