@mixin titulo($font-size, $color, $font-weight) {
	font-size: $font-size;
	color: $color;
	font-weight: $font-weight;
}

h1 {
	@include titulo(4rem,map-get($map: $paleta, $key: 'brownColor'),bold);
	font-family: $fontSecondary;
	text-transform: uppercase;
	letter-spacing: 10px;

	@media (min-width: 992px) {
		font-size: 10rem;
	}
}

h2 {
	@include titulo(2.5rem,map-get($map: $paleta, $key: 'brownColor'),bold);

	@media (min-width: 992px) {
		font-size: 3rem;
	}
}

h3 {
	@include titulo(2.2rem,map-get($map: $paleta, $key: 'brownColor'),bold);
	margin: 20px 0;

	@media (min-width: 992px) {
		font-size: 2.5rem;
	}
}

